[user]
	email = toran.sahu@yahoo.com
	name = Toran Sahu
	sigingkey = 989892661D11D494
[commit]
    gpgsign = true
[includeIf "gitdir:~/disk/E/workspace/gerrit.corp.arista.io/"]
    path = ~/.gitconfig-aristanetworks
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git://"]
    insteadOf = https://
[core]
    pager = less
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
	side-by-side = false
[delta "decorations"]
    commit-decoration-style = yellow
    file-style = bold yellow
    file-decoration-style = none
[init]
	defaultBranch = main
[pull]
	rebase = true
[alias]
	recent = branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\"
